#contents {
	margin: 10px;
}

table {
	border-collapse: collapse;
}

th, td {
	border: 1px solid black;
	padding: 10px;
}

tr:hover {
	background-color: #f5f5f5;
}

.object-table tr {
	cursor: pointer;
}

.object-table th {
	background-color: #1a80c4;
	color: #fff;
	cursor: default;
}

#new-topic-row {
	background-color: #9ed49b;
	cursor: default;
}

.card-form-grid {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 80px auto;
}

#card-form textarea {
	height: 200px;
	min-width: 100px;
	max-height: 400px;
	resize: vertical;
}

.card-form-grid .button-bar {
	grid-column: 2/2;
}

.card-form-grid .button-bar button {
	float: right;
}

