#contents {
	margin: 10px;
}

#cards-table tr {
	cursor: pointer;
}

.card-form-grid {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 80px auto;
}

#card-form textarea {
	height: 200px;
	min-width: 100px;
	max-height: 400px;
	resize: vertical;
}

.card-form-grid .button-bar {
	grid-column: 2/2;
}

.card-form-grid .button-bar button {
	float: right;
}

